body
{
    background-image: url("/IMG/img3.png"); 
}

h1
{
    text-align: center;
    color: white;
    text-decoration:overline;
    font-family: fantasy;
    text-anchor: middle;
}

img
{
    align-items: center;
}

.nom
{
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.mat
{
    color: black;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}